.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    flex-direction: column; /* align icons and title*/
}

.header-nav:hover {
    color: black;
}

.header-option-title{
    font-size: 10px;
    font-weight: bold;
}

.header-option {
    object-fit: contain;
}